<template>
  <div class="exchange-rate">
    <h1>Exchange Rate</h1>

    <div class="row">
      <table class="table">
        <tr>
          <th>AED</th>
          <th>USD</th>
        </tr>
        <tr>
          <td>1</td>
          <td class="exchange-rate-cell">{{ getExchangeRate }}</td>
        </tr>
      </table>

      <div class="notify-box error-box" v-if="getError">
        <span class="msg">Сервис временно не работает.</span>
      </div>

      <div class="notify-box" v-if="!getLoading && !getError">
        <span class="msg">Update in {{ timer }}s</span>
      </div>

      <div class="notify-box loading-box" v-if="getLoading && !getError">
        <div class="loadbar"></div>
        <span class="msg">Loading...</span>
      </div>
    </div>

    <g-chart
      v-show="getChartData.length"
      class="exchange-rate-chart"
      type="LineChart"
      :data="getChartData"
      :options="getChartOptions"
    />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { GChart } from "vue-google-charts";

export default {
  name: "ExchangeRate",
  data() {
    return {
      timer: 0,
      intervalId: null
    };
  },
  components: {
    GChart
  },
  computed: {
    ...mapGetters([
      "getExchangeRate",
      "getChartData",
      "getChartOptions",
      "getUpdateExchangeRateInterval",
      "getLoading",
      "getError"
    ])
  },
  methods: {
    updateExchangeRate() {
      if (!this.getError) {
        this.$store.dispatch("updateExchangeRate");
      }
    },
    initExchangeRate() {
      this.$store.dispatch("initExchangeRate");
    }
  },
  watch: {
    getChartData() {
      if (this.intervalId) clearInterval(this.intervalId);
      this.timer = this.getUpdateExchangeRateInterval / 1000;

      setTimeout(() => {
        this.updateExchangeRate();
      }, this.getUpdateExchangeRateInterval);

      this.intervalId = setInterval(() => {
        if (this.timer > 0) this.timer--;
      }, 1000);
    }
  },
  mounted() {
    this.initExchangeRate();
  }
};
</script>

<style lang="scss" scoped>
.exchange-rate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
  padding: 40px 20px;
  margin: 0 auto;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);

  .row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
  }

  .table {
    border-collapse: collapse;
    td,
    th {
      border: 1px solid rgb(200, 200, 200);
      padding: 10px;
    }
    margin-right: 60px;
  }

  .notify-box {
    display: flex;
    align-items: center;
    .loadbar {
      width: 20px;
      height: 20px;
      border: 3px solid transparent;
      border-top: 3px solid #41b883;
      border-radius: 50%;
      animation: rotation 500ms linear infinite;
      margin-right: 10px;
    }
  }

  .error-box {
    .msg {
      color: #ff0000;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>
